<%# Please don't convert this file to Slim %>

<% order_for_link = grid.ordered_by?(column) && grid.descending? %>

<a class="table-sort <%= datagrid_column_classes(grid, column) %>"
   href="<%= datagrid_order_path(grid, column, !order_for_link) %>">
  <% if column.options[:tooltip].present? %>
    <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-boundary="window"
          title="<%= column.options[:tooltip] %>">
      <%= column.header %>
    </span>
  <% else %>
    <%= column.header %>
  <% end %>
</a>
